Repository bbasketballer75/theporadas_site: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --cache-location .eslintcache, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix --cache --cache-location .eslintcache",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

chore(ci): echo last quality history entry
  .github/workflows/quality-history.yml
Due: prettier --write

chore(ci): simplify pre-push hook to prevent recursion
  .husky/pre-push
Due: none

feat(quality): add regression gating and manual dispatch helper
  .github/workflows/quality-history.yml
  .husky/pre-push
  package.json
  scripts/manual_dispatch_helper.mjs
  scripts/quality_regression_gate.mjs
Due: prettier --write

chore(ci): add concurrency, timeout, lightweight inputs to quality history
  .github/workflows/quality-history.yml
  scripts/manual_dispatch_helper.mjs
Due: prettier --write

test: stabilize bootstrap and a11y; add env shims test; tidy coverage excludes
  test/KeyboardNav.a11y.test.tsx
  test/environment.mocks.test.ts
  test/mainBootstrap.test.tsx
Due: eslint --fix --cache --cache-location .eslintcache, prettier --write

chore(ci): stabilize tests, add test unmount hook; keep bundle under budget; lint/type/coverage clean
  bundle-sizes.json
  search_index/code.json
  src/App.tsx
  src/main.tsx
  src/utils/env.ts
  src/utils/performance.ts
  src/utils/sentryClient.ts
  test/mainBootstrap.test.tsx
  test/mcp_sse_gateway.test.js
  vite.config.ts
Due: eslint --fix --cache --cache-location .eslintcache, prettier --write

test(metrics): emit bound port from harness and consume in test; stabilize coverage run
  .github/workflows/blob-size-guard.yml
  .github/workflows/bundle-size-monitor.yml
  .github/workflows/dependency-report.yml
  .github/workflows/dependency-updates.yml
  .lintstagedrc.json
  .markdownlint.jsonc
  .ncurc.json
  DEPENDENCY_POLICY.md
  ENVIRONMENT_VARIABLES.md
  assets/wedding/public_images/manifest.json
  bundle-size-comparison.json
  bundle-sizes.json
  docs/api.md
  index.html
  memory-bank/activeContext.md
  memory-bank/architect.md
  memory-bank/decisionLog.md
  memory-bank/productContext.md
  memory-bank/progress.md
  memory-bank/systemPatterns.md
  public/manifest.json
  scripts/mcp_test_metrics.mjs
  search_index/code.json
  src/components/BackgroundAudio.css
  src/components/FamilyTree.css
  src/styles/responsive.css
  test/mcp_metrics_http.test.ts
  tool_monitor_config.json
  tool_performance_report_20250901_193358.json
  typedoc.json
  typedoc.tsconfig.json
  workflow_config.json
Due: eslint --fix --cache --cache-location .eslintcache, prettier --write

chore: update lintstaged config and code index
  .lintstagedrc.json
  search_index/code.json
Due: prettier --write
