Repository bbasketballer75/theporadas_site: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --cache-location .eslintcache, prettier --write

chore: history rewrite workflow: fix dependency install & add blob path mapping
  .github/workflows/history-rewrite-large-blobs.yml
Due: prettier --write

chore: update large blob TARGET list to transient artifacts
  scripts/large_blob_rewrite.py
Due: none

refactor: narrow TARGET list to trace.zip blobs only
  scripts/large_blob_rewrite.py
Due: none

chore: update large blob TARGET list (trace.zip only)
  scripts/large_blob_rewrite.py
Due: none

chore: trigger diagnostics run (noop)
  noop_trigger.txt
Due: none

chore(rewrite): add history rewrite workflow and target script
  .github/workflows/history-rewrite-large-blobs.yml
  scripts/large_blob_rewrite.py
Due: prettier --write

chore: push trigger for history rewrite diagnostics
  trigger_noop.ts
Due: eslint --fix --cache --cache-location .eslintcache, prettier --write

fix(rewrite): ensure origin remote exists before force push
  .github/workflows/history-rewrite-large-blobs.yml
Due: prettier --write

chore(quality): add quality history scripts (post rewrite)
  scripts/analyze_quality_history.mjs
  scripts/append_quality_history.mjs
Due: none

docs(quality): document quality history & dedupe append script
  README.md
  scripts/append_quality_history.mjs
Due: prettier --write

chore(quality): add migration + lighthouse diff + visual-regression diagnostics
  .github/workflows/visual-regression.yml
  package.json
  scripts/analyze_quality_history.mjs
  scripts/append_quality_history.mjs
  scripts/lighthouse_diff.mjs
  scripts/migrate_quality_history.mjs
Due: prettier --write

chore(ci): trigger visual-regression workflow
  trigger_noop.ts
Due: eslint --fix --cache --cache-location .eslintcache, prettier --write

chore(quality): add guarded migration and one-off migration workflow
  .github/workflows/quality-history-migrate.yml
  .github/workflows/quality-history.yml
  scripts/migrate_quality_history.mjs
Due: prettier --write

chore(quality): add legacy file cleanup post-migration
  .github/workflows/quality-history-migrate.yml
  .github/workflows/quality-history.yml
  scripts/migrate_quality_history.mjs
Due: prettier --write

Path conditions:
  eslint --fix --cache --cache-location .eslintcache: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
